@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital@1&display=swap');
* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    width: 100%;
}

nav {
    display: flex;
    align-items: center;
    padding: 5px 15px;
    background: transparent;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
}

nav.scroll {
    background:  #088f62;
    border-bottom: 0px;
  }

.logo img{
    width: 100px;
    padding: 0 10px;
}

.list-menu {
    flex: 1;
    text-align: right;
}

.list-menu li{
    display: inline-block;
    list-style: none;
    text-transform: uppercase;
    padding: 0px 10px;
}
.list-menu a {
    text-decoration: none;
    color: white;
    font-size: 18px;
}

.list-menu li::after {
    content: '';
    width: 0%;
    height: 2px;
    background: #03e9f4;
    display: block;
    margin: auto;
    transition: 0.3s;
}

.list-menu a:hover {
    color: #03e9f4;
    transition: 0.5s;
}

.list-menu li:hover::after {
    width: 100%;
}

section {
    height: 100vh;
}

#home {
    background-image: url(images/header/header.png);
    background-size: cover;
    background-position: center;
}

.text-header {
    color: white;
    position: absolute;
    top: 30%;
    left: 5%;
}

.text-header h1 {
    font-size: 40px;
    text-shadow: 2px 1px grey;
    margin: 0;
}

.text-header p {
    font-size: 20px;
    text-shadow: 1px 0px grey;
    font-family: 'Nunito', sans-serif;
    margin: 0;
    text-indent: 5px;
}

.btn {
    display: inline-block;
    text-decoration: none;
    border: 1px solid white;
    color: white;
    padding: 12px 34px;
    font-size: 15px;
    position: relative;
    margin-top: 10px;
    margin-left: 10px;
    transition: 0.5s;
}

.btn:hover, .btn:focus {
    box-shadow: inset 0 0 0 2em #e4cb58;
}

.slider {
    position: relative;
    border-radius: 5px;
    top: 25%;
    margin-left: 55%;
    width: 500px;
    height: 300px;
    background: rgba(0, 0, 0, 0.4);
    overflow: hidden;
    transition: box-shadow 0.2s;
}

.slider:hover {
    box-shadow: 0 10px 50px -10px rgba(0,0,0,0.25);
}

.slideshow {
    display: flex;
    width: 500%;
}

.slideshow input{
    display: none;
  }

.slide {
    width: 20%;
    transition: 2s;
}

#radio1:checked ~ .first{
    margin-left: 0;
}
  
#radio2:checked ~ .first{
    margin-left: -20%;
}
  
#radio3:checked ~ .first{
    margin-left: -40%;
}
  
#radio4:checked ~ .first{
    margin-left: -60%;
}

#radio5:checked ~ .first{
    margin-left: -80%;
}

.slide img {
    width: 500px;
    height: 300px;
    border-radius: 5px;
}

.slide-btn {
    display: flex;
    bottom: 10px;
    justify-content: center;
    position: absolute;
    width: 100%;
}

.dot {
    background: rgba(255,255,255,0.5);
    border-radius: 50%;
    display: block;
    height: 10px;
    width: 10px;
    transition: background-color 0.6s;
}

.dot:not(:last-child) {
    margin-right: 5px;
}

#radio1:checked ~ .slide-btn .dot1{
    background: #16c79a;
}
  
#radio2:checked ~ .slide-btn .dot2{
    background: #16c79a;
}
  
#radio3:checked ~ .slide-btn .dot3{
    background: #16c79a;
}
  
#radio4:checked ~ .slide-btn .dot4{
    background: #16c79a;
}

#radio5:checked ~ .slide-btn .dot5{
    background: #16c79a;
}

footer {
    background: #19456b;
    color: #fff;
    padding: 5px;
}

footer p {
    margin-left: 5%;
    font-size: 80%;
}

@media(max-width: 768px) {
    #home {
        background-image: url(images/header/header1.png);
        background-attachment: fixed;
    }

    .list-menu {
        position: absolute;
        background: white;
        height: 100vh;
        width: 220px;
        top: 0;
        right: 0;
        text-align: left;
        z-index: 2;
        margin-top: 0;
        padding-top: 10px;
        padding-left: 10px;
        opacity:0;
        transition: 0.3s;
    }

    .logo {
        padding-top: 5px;
    }

    .active {
        opacity: 1;
    }

    .list-menu li {
        display: block;
        padding: 0;
    }

    .list-menu li:hover::after {
        display: none;
    }

    .list-menu a {
        color: #11698e;
    }
    
    .menu {
        display:block;
        position:absolute;
        width:30px;
        height:25px;
        right:20px;
        top:20px;
        z-index:200;
    }

    .nav-icon {
        display:inline-block;
        position: relative;
        width:30px;
        height:5px;
        background: white;
        transition-property: background, transform;
        transition-duration: 0.3s;
    }

    .nav-icon:before,
    .nav-icon:after {
        content:'';
        display:block;
        width:30px;
        height:5px;
        position: absolute;
        background: white;
        transition-property: margin, transform;
        transition-duration: 0.3s;
    }

    .nav-icon:before {
        margin-top:-10px;
    }

    .nav-icon:after {
        margin-top:10px;
    }

    .active-icon::before {
        background-color: crimson;
        margin-top:0;
        transform:rotate(45deg);
    }

    .active-icon:after {
        background-color: crimson;
        margin-top:0;
        transform:rotate(-45deg);
    }

    .slider {
        display: none;
    }
}